[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-restful = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-login = "*"
bcrypt = "*"
flask-jwt-extended = "*"
pymysql = "*"
lxml = "*"
discord = "*"
pydrive = "*"
requests = "*"
google-auth-oauthlib = "*"
thefuzz = "*"

[dev-packages]

[requires]
python_version = "3.8"
