.container {
    margin: 50px;
}

.form {
    margin:auto;
    width: 80%;
}

.btn-primary {
    background-color: #f9759e !important;
    border-color: #f9759e !important;
}

p {
    color: grey;
    margin: 200px;
}

table {
    border-collapse: collapse;
}

table td {
    border: 1px solid #333;
}
